@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700;900&family=JetBrains+Mono:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #FEF9F0;
  color: #4A4A4A;
}

/* Custom scrollbar hiding so UI looks perfectly clean */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

